################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sqlite
/msapp1/.vs/msapp1/FileContentIndex/3ee0e9a5-a99f-406e-ad9d-0a39bd26e48c.vsidx
/msapp1/.vs/msapp1/FileContentIndex/82bb3a43-e875-4a46-980c-2ec96cd1740a.vsidx
/msapp1/.vs/msapp1/FileContentIndex/d8767203-a1d1-4bc6-bd25-5efee663a3de.vsidx
